// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace SummariesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SummariesClient {
    protected readonly _options: NormalizedClientOptions<SummariesClient.Options>;

    constructor(options: SummariesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Dada o id de uma ocorrencia
     *
     * @param {Sigarra.GetClassesSummariesRequest} request
     * @param {SummariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.summaries.getClasses({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getClasses(
        request: Sigarra.GetClassesSummariesRequest,
        requestOptions?: SummariesClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetClassesSummariesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getClasses(request, requestOptions));
    }

    private async __getClasses(
        request: Sigarra.GetClassesSummariesRequest,
        requestOptions?: SummariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetClassesSummariesResponse>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.sum_turmas`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.GetClassesSummariesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.sum_turmas",
        );
    }

    /**
     * Lista todas as aulas de uma turma com o id do respetivo sumário
     *
     * @param {Sigarra.GetLessonsSummariesRequest} request
     * @param {SummariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.summaries.getLessons({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getLessons(
        request: Sigarra.GetLessonsSummariesRequest,
        requestOptions?: SummariesClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetLessonsSummariesResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getLessons(request, requestOptions));
    }

    private async __getLessons(
        request: Sigarra.GetLessonsSummariesRequest,
        requestOptions?: SummariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetLessonsSummariesResponseItem[]>> {
        const {
            faculty,
            language,
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_turma_id: pvTurmaId,
            pv_tipo_aula: pvTipoAula,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_turma_id: pvTurmaId,
            pv_tipo_aula: pvTipoAula,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.sum_aulas`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Sigarra.GetLessonsSummariesResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.sum_aulas",
        );
    }

    /**
     * Vai buscar o sumário de uma aula em específico
     *
     * @param {Sigarra.GetSummarySummariesRequest} request
     * @param {SummariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.summaries.getSummary({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getSummary(
        request: Sigarra.GetSummarySummariesRequest,
        requestOptions?: SummariesClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetSummarySummariesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSummary(request, requestOptions));
    }

    private async __getSummary(
        request: Sigarra.GetSummarySummariesRequest,
        requestOptions?: SummariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetSummarySummariesResponse>> {
        const { faculty, language, pv_sumario_id: pvSumarioId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_sumario_id: pvSumarioId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.sumario`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.GetSummarySummariesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.sumario",
        );
    }
}
