// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace CalendarClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CalendarClient {
    protected readonly _options: NormalizedClientOptions<CalendarClient.Options>;

    constructor(options: CalendarClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Novo módulo de horários do Sigarra
     *
     * The trailing slash is required: without it SIGARRA redirects to `/calendarios/...`, which returns 404. The URL for a student is in the `data-evt-source-url` and `data-table-source-url` attributes of `hor_geral.estudantes_view`.
     *
     * @param {Sigarra.GetStudentEventsCalendarRequest} request
     * @param {CalendarClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.BadRequestError}
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.calendar.getStudentEvents({
     *         faculty: "faculty",
     *         nmec: "nmec",
     *         academic_year: 1,
     *         pv_turma_ocorr: ["pv_turma_ocorr"]
     *     })
     */
    public getStudentEvents(
        request: Sigarra.GetStudentEventsCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.CalendarEvents> {
        return core.HttpResponsePromise.fromPromise(this.__getStudentEvents(request, requestOptions));
    }

    private async __getStudentEvents(
        request: Sigarra.GetStudentEventsCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.CalendarEvents>> {
        const { faculty, nmec, academic_year: academicYear, pv_turma_ocorr: pvTurmaOcorr, period } = request;
        const _queryParams: Record<string, unknown> = {
            academic_year: academicYear,
            pv_turma_ocorr: pvTurmaOcorr,
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `calendarios-api/api/v1/events/${core.url.encodePathParam(faculty)}/student/${core.url.encodePathParam(nmec)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.CalendarEvents, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Sigarra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/calendarios-api/api/v1/events/{faculty}/student/{nmec}/",
        );
    }

    /**
     * Horário de um estudante no novo módulo de horários do Sigarra, como uma tabela HTML.
     *
     * The trailing slash is required: without it SIGARRA redirects to `/calendarios/...`, which returns 404. The URL for a student is in the `data-evt-source-url` and `data-table-source-url` attributes of `hor_geral.estudantes_view`.
     *
     * @param {Sigarra.GetStudentTableCalendarRequest} request
     * @param {CalendarClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.BadRequestError}
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.calendar.getStudentTable({
     *         faculty: "faculty",
     *         nmec: "nmec",
     *         academic_year: 1
     *     })
     */
    public getStudentTable(
        request: Sigarra.GetStudentTableCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getStudentTable(request, requestOptions));
    }

    private async __getStudentTable(
        request: Sigarra.GetStudentTableCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, nmec, academic_year: academicYear, pv_turma_ocorr: pvTurmaOcorr, period } = request;
        const _queryParams: Record<string, unknown> = {
            academic_year: academicYear,
            pv_turma_ocorr: pvTurmaOcorr,
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `calendarios-api/api/v1/caltable/${core.url.encodePathParam(faculty)}/student/${core.url.encodePathParam(nmec)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Sigarra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/calendarios-api/api/v1/caltable/{faculty}/student/{nmec}/",
        );
    }

    /**
     * The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetCourseUnitEventsCalendarRequest} request
     * @param {CalendarClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.BadRequestError}
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.calendar.getCourseUnitEvents({
     *         faculty: "faculty",
     *         ocorr_id: "ocorr_id",
     *         academic_year: 1,
     *         period: [1]
     *     })
     */
    public getCourseUnitEvents(
        request: Sigarra.GetCourseUnitEventsCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.CalendarEvents> {
        return core.HttpResponsePromise.fromPromise(this.__getCourseUnitEvents(request, requestOptions));
    }

    private async __getCourseUnitEvents(
        request: Sigarra.GetCourseUnitEventsCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.CalendarEvents>> {
        const { faculty, ocorr_id: ocorrId, academic_year: academicYear, period } = request;
        const _queryParams: Record<string, unknown> = {
            academic_year: academicYear,
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `calendarios-api/api/v1/events/${core.url.encodePathParam(faculty)}/uc/${core.url.encodePathParam(ocorrId)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.CalendarEvents, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Sigarra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/calendarios-api/api/v1/events/{faculty}/uc/{ocorr_id}/",
        );
    }

    /**
     * The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetCourseUnitTableCalendarRequest} request
     * @param {CalendarClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.BadRequestError}
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.calendar.getCourseUnitTable({
     *         faculty: "faculty",
     *         ocorr_id: "ocorr_id",
     *         academic_year: 1
     *     })
     */
    public getCourseUnitTable(
        request: Sigarra.GetCourseUnitTableCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getCourseUnitTable(request, requestOptions));
    }

    private async __getCourseUnitTable(
        request: Sigarra.GetCourseUnitTableCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, ocorr_id: ocorrId, academic_year: academicYear, period } = request;
        const _queryParams: Record<string, unknown> = {
            academic_year: academicYear,
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `calendarios-api/api/v1/caltable/${core.url.encodePathParam(faculty)}/uc/${core.url.encodePathParam(ocorrId)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Sigarra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/calendarios-api/api/v1/caltable/{faculty}/uc/{ocorr_id}/",
        );
    }

    /**
     * The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetProfessorEventsCalendarRequest} request
     * @param {CalendarClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.BadRequestError}
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.calendar.getProfessorEvents({
     *         faculty: "faculty",
     *         doc_codigo: "doc_codigo",
     *         academic_year: 1,
     *         period: [1]
     *     })
     */
    public getProfessorEvents(
        request: Sigarra.GetProfessorEventsCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.CalendarEvents> {
        return core.HttpResponsePromise.fromPromise(this.__getProfessorEvents(request, requestOptions));
    }

    private async __getProfessorEvents(
        request: Sigarra.GetProfessorEventsCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.CalendarEvents>> {
        const { faculty, doc_codigo: docCodigo, academic_year: academicYear, period } = request;
        const _queryParams: Record<string, unknown> = {
            academic_year: academicYear,
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `calendarios-api/api/v1/events/${core.url.encodePathParam(faculty)}/doc/${core.url.encodePathParam(docCodigo)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.CalendarEvents, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Sigarra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/calendarios-api/api/v1/events/{faculty}/doc/{doc_codigo}/",
        );
    }

    /**
     * The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetProfessorTableCalendarRequest} request
     * @param {CalendarClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.BadRequestError}
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.calendar.getProfessorTable({
     *         faculty: "faculty",
     *         doc_codigo: "doc_codigo",
     *         academic_year: 1
     *     })
     */
    public getProfessorTable(
        request: Sigarra.GetProfessorTableCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getProfessorTable(request, requestOptions));
    }

    private async __getProfessorTable(
        request: Sigarra.GetProfessorTableCalendarRequest,
        requestOptions?: CalendarClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, doc_codigo: docCodigo, academic_year: academicYear, period } = request;
        const _queryParams: Record<string, unknown> = {
            academic_year: academicYear,
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `calendarios-api/api/v1/caltable/${core.url.encodePathParam(faculty)}/doc/${core.url.encodePathParam(docCodigo)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Sigarra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/calendarios-api/api/v1/caltable/{faculty}/doc/{doc_codigo}/",
        );
    }
}
