# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgres://844bc2ae8615a19cc21d0dda6febbf797aeb5135adb809bb1faea37cb3f4ee1c:sk_qemsQcNGvSL921P_-jD38@db.prisma.io:5432/postgres?sslmode=require"
