// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Sigarra from "../../../index.js";

export declare namespace CourseClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CourseClient {
    protected readonly _options: NormalizedClientOptions<CourseClient.Options>;

    constructor(options: CourseClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * A course page: name, acronym (the "Sigla:" / "Acronym:" row), and a "Planos de Estudos" section linking to `cur_geral.cur_planos_estudos_view`. An unknown course answers `200` with a "Sem resultados" page.
     *
     * Used by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).
     *
     * @param {Sigarra.GetPageCourseRequest} request
     * @param {CourseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.course.getPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_curso_id: "pv_curso_id"
     *     })
     */
    public getPage(
        request: Sigarra.GetPageCourseRequest,
        requestOptions?: CourseClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getPage(request, requestOptions));
    }

    private async __getPage(
        request: Sigarra.GetPageCourseRequest,
        requestOptions?: CourseClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            faculty,
            language,
            pv_curso_id: pvCursoId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_origem: pvOrigem,
            pv_tipo_cur_sigla: pvTipoCurSigla,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_curso_id: pvCursoId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_origem: pvOrigem,
            pv_tipo_cur_sigla: pvTipoCurSigla,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/cur_geral.cur_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/cur_geral.cur_view",
        );
    }

    /**
     * A course's study plan. Each group of course units is a `div[id^="div_id_"]` with an `h3` title and a `table.dadossz` whose rows link to `ucurr_geral.ficha_uc_view?pv_ocorrencia_id=`.
     *
     * Used by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).
     *
     * @param {Sigarra.GetStudyPlanPageCourseRequest} request
     * @param {CourseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.course.getStudyPlanPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_plano_id: "pv_plano_id",
     *         pv_ano_lectivo: "pv_ano_lectivo"
     *     })
     */
    public getStudyPlanPage(
        request: Sigarra.GetStudyPlanPageCourseRequest,
        requestOptions?: CourseClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getStudyPlanPage(request, requestOptions));
    }

    private async __getStudyPlanPage(
        request: Sigarra.GetStudyPlanPageCourseRequest,
        requestOptions?: CourseClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            faculty,
            language,
            pv_plano_id: pvPlanoId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_tipo_cur_sigla: pvTipoCurSigla,
            pv_origem: pvOrigem,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_plano_id: pvPlanoId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_tipo_cur_sigla: pvTipoCurSigla,
            pv_origem: pvOrigem,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/cur_geral.cur_planos_estudos_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/cur_geral.cur_planos_estudos_view",
        );
    }

    /**
     * Vacancies in each class of a course's course units, for the current class enrolment period (e.g. "Inscrições nas turmas 1º Semestre - 2026/2027"). The data is a table with one row per course unit and pairs of columns (class, vacancies). The course doesn't need to belong to the faculty in the path.
     *
     * Used by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).
     *
     * @param {Sigarra.GetClassVacanciesPageCourseRequest} request
     * @param {CourseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.course.getClassVacanciesPage({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getClassVacanciesPage(
        request: Sigarra.GetClassVacanciesPageCourseRequest,
        requestOptions?: CourseClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getClassVacanciesPage(request, requestOptions));
    }

    private async __getClassVacanciesPage(
        request: Sigarra.GetClassVacanciesPageCourseRequest,
        requestOptions?: CourseClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pv_curso_id: pvCursoId, pv_colunas: pvColunas } = request;
        const _queryParams: Record<string, unknown> = {
            pv_curso_id: pvCursoId,
            pv_colunas: pvColunas,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/it_geral.vagas`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/it_geral.vagas",
        );
    }
}
