// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace HomeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HomeClient {
    protected readonly _options: NormalizedClientOptions<HomeClient.Options>;

    constructor(options: HomeClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Home page. When authenticated, `.autenticado .fotografia img` links to `fotografias_service.foto?pct_cod=<username>`, which `uni` uses to find the username.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetHomePageHomeRequest} request
     * @param {HomeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.home.getHomePage({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getHomePage(
        request: Sigarra.GetHomePageHomeRequest,
        requestOptions?: HomeClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getHomePage(request, requestOptions));
    }

    private async __getHomePage(
        request: Sigarra.GetHomePageHomeRequest,
        requestOptions?: HomeClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/web_page.inicial`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/web_page.inicial",
        );
    }

    /**
     * Institutional page generator. Only `/up/pt/web_base.gera_pagina?p_pagina=escolas` (the list of faculties) still answers: it redirects (`301`) to `https://www.up.pt/portal/pt/conhecer/sobre-a-uporto/as-faculdades/`. Any other combination (another faculty, another page, or no `p_pagina`) is refused by the web server with a generic `403`.
     *
     * Used by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).
     *
     * @param {Sigarra.GetFacultiesRedirectHomeRequest} request
     * @param {HomeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.home.getFacultiesRedirect({
     *         faculty: "faculty",
     *         language: "language",
     *         p_pagina: "p_pagina"
     *     })
     */
    public getFacultiesRedirect(
        request: Sigarra.GetFacultiesRedirectHomeRequest,
        requestOptions?: HomeClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getFacultiesRedirect(request, requestOptions));
    }

    private async __getFacultiesRedirect(
        request: Sigarra.GetFacultiesRedirectHomeRequest,
        requestOptions?: HomeClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { faculty, language, p_pagina: pPagina } = request;
        const _queryParams: Record<string, unknown> = {
            p_pagina: pPagina,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/web_base.gera_pagina`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/web_base.gera_pagina",
        );
    }
}
