/* Schedule */
.schedule-area {
  @apply hidden h-full w-full flex-none lg:flex lg:flex-col;
}

/* Top */
.schedule-top {
  @apply mb-2 flex w-full space-x-3 xl:mb-1 xl:space-x-4;
}

.schedule-top-empty {
  @apply flex flex-col justify-between space-y-0;
}

.schedule-top-empty > span {
  @apply invisible text-[0.65rem] font-medium leading-none xl:text-sm;
}

.schedule-top-days {
  @apply flex grow flex-row items-center justify-between;
}

.schedule-top-days > span {
  @apply h-auto w-1/6 text-center text-[0.65rem] font-medium leading-none xl:text-sm;
}

/* Main */
.schedule-main {
  @apply flex h-full w-full space-x-3 xl:space-x-4;
}

.schedule-main-left {
  @apply flex h-full flex-col justify-between space-y-0;
}

.schedule-main-left > span {
  @apply h-auto text-[0.65rem] font-medium leading-none xl:text-sm;
}

.schedule-main-right {
  @apply h-full w-full pt-0 xl:pt-1;
}

/* Schedule Grid */
.schedule-grid-wrapper {
  @apply h-full w-full;
}

.schedule-grid {
  @apply relative h-full w-full rounded border-2 border-gray-200 shadow dark:border-[#f0f0ff33] dark:shadow-xl;
}

/* Cells */
.schedule-cell {
  @apply m-0 h-[3.125%] w-full border-r border-gray-200 dark:border-[#f0f0ff33];
}

.schedule-cell-last-in-row {
  border-bottom: 0 !important;
}

.schedule-cell-last-in-column {
  border-right: 0 !important;
}

.schedule-cell:nth-child(even) {
  border-bottom: 1px solid theme('colors.gray.200');
}

.schedule-cell:nth-child(odd) {
  border-bottom: 1px solid theme('colors.gray.100');
}

.dark .schedule-cell:nth-child(even) {
  border-bottom: 1px solid #f0f0ff33;
}

.dark .schedule-cell:nth-child(odd) {
  border-bottom: 1px solid #f0f0ff11;
}

/* Schedule Columns */
.schedule-column {
  @apply absolute top-0 h-full w-1/6;
}

.schedule-column-0 {
  @apply left-0;
}

.schedule-column-1 {
  @apply left-1/6;
}

.schedule-column-2 {
  @apply left-1/3;
}

.schedule-column-3 {
  @apply left-1/2;
}

.schedule-column-4 {
  @apply left-2/3;
}

.schedule-column-5 {
  @apply left-5/6;
}

/*  */
