// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace AuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuthClient {
    protected readonly _options: NormalizedClientOptions<AuthClient.Options>;

    constructor(options: AuthClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Same as `POST`, with the credentials in the query string. Prefer `POST`: URLs (and so the password) tend to end up in logs.
     *
     * Used by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).
     *
     * @param {Sigarra.LoginWithQueryAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.auth.loginWithQuery({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_login: "pv_login",
     *         pv_password: "pv_password"
     *     })
     */
    public loginWithQuery(
        request: Sigarra.LoginWithQueryAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.LoginResult> {
        return core.HttpResponsePromise.fromPromise(this.__loginWithQuery(request, requestOptions));
    }

    private async __loginWithQuery(
        request: Sigarra.LoginWithQueryAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.LoginResult>> {
        const { faculty, language, pv_login: pvLogin, pv_password: pvPassword } = request;
        const _queryParams: Record<string, unknown> = {
            pv_login: pvLogin,
            pv_password: pvPassword,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_val_geral.autentica`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.LoginResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_val_geral.autentica",
        );
    }

    /**
     * Authenticates with a username and password and answers with JSON; on success, sets the session cookies.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.LoginAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.auth.login({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_login: "pv_login",
     *         pv_password: "pv_password"
     *     })
     */
    public login(
        request: Sigarra.LoginAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.LoginResult> {
        return core.HttpResponsePromise.fromPromise(this.__login(request, requestOptions));
    }

    private async __login(
        request: Sigarra.LoginAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.LoginResult>> {
        const { faculty, language, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_val_geral.autentica`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "form",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.LoginResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{faculty}/{language}/mob_val_geral.autentica",
        );
    }

    /**
     * Authenticates with a username and password; this is the website's login form (served by `vld_validacao.login`). Works on any faculty path, including `up`.
     *
     * On success, sets `SI_SESSION` and `SI_SECURITY` (no expiry date; the session lasts about 2 hours) and redirects with a `<meta http-equiv="refresh">` to `p_address` (`web_page.Inicial` by default). On failure, the reason is in `p.aviso-invalidado` (e.g. "O conjunto utilizador/senha não é válido.", "A sua conta encontra-se bloqueada.", or an expired password). If the request already carries a valid session, the page is titled "Problema encontrado", `p.erro-nota` says "Já se encontra autenticado com o utilizador <name>.", and no new session is created.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni) and TTS.
     *
     * @param {Sigarra.LoginPageAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.auth.loginPage({
     *         faculty: "faculty",
     *         language: "language",
     *         p_user: "p_user",
     *         p_pass: "p_pass"
     *     })
     */
    public loginPage(
        request: Sigarra.LoginPageAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__loginPage(request, requestOptions));
    }

    private async __loginPage(
        request: Sigarra.LoginPageAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/vld_validacao.validacao`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "form",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{faculty}/{language}/vld_validacao.validacao",
        );
    }

    /**
     * Ends the session: its cookies stop working. Then redirects to `web_page.Inicial` with a `<meta http-equiv="refresh">`. Answers the same without a session.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.LogoutAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.auth.logout({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public logout(
        request: Sigarra.LogoutAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__logout(request, requestOptions));
    }

    private async __logout(
        request: Sigarra.LogoutAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/vld_validacao.sair`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/vld_validacao.sair",
        );
    }

    /**
     * Exchanges a token from the U.Porto identity provider (`https://open-id.up.pt/realms/sigarra`) for SIGARRA session cookies. Both access tokens and ID tokens are accepted. The session is bound to the IP address that makes this call, so call it from wherever the session will be used (e.g. a backend, not the browser that obtained the token). Each call creates a new session that lasts 2 hours (`exp` is 7200 s after the request), regardless of the token's own lifetime. [uni](https://github.com/NIAEFEUP/uni)'s tokens have the audience `it-sigarra-oidc-bridge`, likely the name of this service.
     *
     * Answers `401` without a token and `403` with an invalid one. Only `GET` is allowed (`405` otherwise).
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.OidcTokenAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.UnauthorizedError}
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.auth.oidcToken({
     *         Authorization: "Authorization"
     *     })
     */
    public oidcToken(
        request: Sigarra.OidcTokenAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.OidcTokenAuthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__oidcToken(request, requestOptions));
    }

    private async __oidcToken(
        request: Sigarra.OidcTokenAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.OidcTokenAuthResponse>> {
        const { Authorization: authorization } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: authorization }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                "auth/oidc/token",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.OidcTokenAuthResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Sigarra.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/auth/oidc/token");
    }

    /**
     * The login page: a credentials form that posts to `vld_validacao.validacao`, and a federated login form that submits to `vld_validacao.federate_login`.
     *
     * @param {Sigarra.GetLoginPageAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.auth.getLoginPage({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getLoginPage(
        request: Sigarra.GetLoginPageAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getLoginPage(request, requestOptions));
    }

    private async __getLoginPage(
        request: Sigarra.GetLoginPageAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, p_address: pAddress, p_app: pApp, p_amo: pAmo } = request;
        const _queryParams: Record<string, unknown> = {
            p_address: pAddress,
            p_app: pApp,
            p_amo: pAmo,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/vld_validacao.login`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/vld_validacao.login",
        );
    }

    /**
     * Starts the browser login through U.Porto's Shibboleth identity provider: redirects to `https://wayf.up.pt/idp/profile/SAML2/Redirect/SSO` with a SAML `AuthnRequest`. SIGARRA receives the response at `/Shibboleth.sso/SAML2/POST`.
     *
     * @param {Sigarra.FederatedLoginAuthRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.auth.federatedLogin({
     *         faculty: "faculty",
     *         language: "language",
     *         p_redirect: "p_redirect"
     *     })
     */
    public federatedLogin(
        request: Sigarra.FederatedLoginAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__federatedLogin(request, requestOptions));
    }

    private async __federatedLogin(
        request: Sigarra.FederatedLoginAuthRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { faculty, language, p_redirect: pRedirect } = request;
        const _queryParams: Record<string, unknown> = {
            p_redirect: pRedirect,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/vld_validacao.federate_login`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/vld_validacao.federate_login",
        );
    }
}
