// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace ProfessorClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProfessorClient {
    protected readonly _options: NormalizedClientOptions<ProfessorClient.Options>;

    constructor(options: ProfessorClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Public, but shows more information with a valid session.
     *
     * A staff member's page. `uni` extracts the institutional email (from `mailto:` links or an obfuscated `onclick`) and offices (`instal_geral.espaco_view` links).
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetProfilePageProfessorRequest} request
     * @param {ProfessorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.professor.getProfilePage({
     *         faculty: "faculty",
     *         language: "language",
     *         p_codigo: "p_codigo"
     *     })
     */
    public getProfilePage(
        request: Sigarra.GetProfilePageProfessorRequest,
        requestOptions?: ProfessorClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getProfilePage(request, requestOptions));
    }

    private async __getProfilePage(
        request: Sigarra.GetProfilePageProfessorRequest,
        requestOptions?: ProfessorClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, p_codigo: pCodigo } = request;
        const _queryParams: Record<string, unknown> = {
            p_codigo: pCodigo,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/func_geral.formview`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/func_geral.formview",
        );
    }

    /**
     * A professor's schedule page. `#cal-shadow-container[data-evt-source-url]` has the URL for `calendar.getProfessorEvents`.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetSchedulePageProfessorRequest} request
     * @param {ProfessorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.professor.getSchedulePage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_doc_codigo: "pv_doc_codigo",
     *         pv_ano_lectivo: "pv_ano_lectivo",
     *         pv_periodos: "pv_periodos"
     *     })
     */
    public getSchedulePage(
        request: Sigarra.GetSchedulePageProfessorRequest,
        requestOptions?: ProfessorClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getSchedulePage(request, requestOptions));
    }

    private async __getSchedulePage(
        request: Sigarra.GetSchedulePageProfessorRequest,
        requestOptions?: ProfessorClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            faculty,
            language,
            pv_doc_codigo: pvDocCodigo,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodos: pvPeriodos,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_doc_codigo: pvDocCodigo,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodos: pvPeriodos,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/hor_geral.docentes_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/hor_geral.docentes_view",
        );
    }
}
