// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Sigarra from "../../../index.js";

export declare namespace CanteenClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CanteenClient {
    protected readonly _options: NormalizedClientOptions<CanteenClient.Options>;

    constructor(options: CanteenClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Canteen menus. `uni` requests it on `feup`.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetMenusPageCanteenRequest} request
     * @param {CanteenClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.canteen.getMenusPage({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getMenusPage(
        request: Sigarra.GetMenusPageCanteenRequest,
        requestOptions?: CanteenClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getMenusPage(request, requestOptions));
    }

    private async __getMenusPage(
        request: Sigarra.GetMenusPageCanteenRequest,
        requestOptions?: CanteenClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/CANTINA.EMENTASHOW`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/CANTINA.EMENTASHOW",
        );
    }
}
