// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace FinancesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FinancesClient {
    protected readonly _options: NormalizedClientOptions<FinancesClient.Options>;

    constructor(options: FinancesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * A person's current account: unpaid fees, payment references and the account statement. `uni` also requests it on the `sasup` faculty for social services.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetCurrentAccountPageFinancesRequest} request
     * @param {FinancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.finances.getCurrentAccountPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pct_cod: "pct_cod"
     *     })
     */
    public getCurrentAccountPage(
        request: Sigarra.GetCurrentAccountPageFinancesRequest,
        requestOptions?: FinancesClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getCurrentAccountPage(request, requestOptions));
    }

    private async __getCurrentAccountPage(
        request: Sigarra.GetCurrentAccountPageFinancesRequest,
        requestOptions?: FinancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pct_cod: pctCod } = request;
        const _queryParams: Record<string, unknown> = {
            pct_cod: pctCod,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/gpag_ccorrente_geral.conta_corrente_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/gpag_ccorrente_geral.conta_corrente_view",
        );
    }

    /**
     * Printing balance and history. `uni` requests it on `feup`.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetPrintingPageFinancesRequest} request
     * @param {FinancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.finances.getPrintingPage({
     *         faculty: "faculty",
     *         language: "language",
     *         p_codigo: "p_codigo"
     *     })
     */
    public getPrintingPage(
        request: Sigarra.GetPrintingPageFinancesRequest,
        requestOptions?: FinancesClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getPrintingPage(request, requestOptions));
    }

    private async __getPrintingPage(
        request: Sigarra.GetPrintingPageFinancesRequest,
        requestOptions?: FinancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, p_codigo: pCodigo } = request;
        const _queryParams: Record<string, unknown> = {
            p_codigo: pCodigo,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/imp4_impressoes.atribs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/imp4_impressoes.atribs",
        );
    }

    /**
     * Creates a Multibanco payment reference, e.g. to top up the printing balance. **This creates a real payment reference.** Not verified live.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GenerateMbReferenceFinancesRequest} request
     * @param {FinancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.finances.generateMbReference({
     *         faculty: "faculty",
     *         language: "language",
     *         p_tipo_id: "p_tipo_id",
     *         pct_codigo: "pct_codigo",
     *         p_valor: "p_valor",
     *         p_valor_livre: "p_valor_livre"
     *     })
     */
    public generateMbReference(
        request: Sigarra.GenerateMbReferenceFinancesRequest,
        requestOptions?: FinancesClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__generateMbReference(request, requestOptions));
    }

    private async __generateMbReference(
        request: Sigarra.GenerateMbReferenceFinancesRequest,
        requestOptions?: FinancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/gpag_ccorrentes_geral.gerar_mb`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "form",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{faculty}/{language}/gpag_ccorrentes_geral.gerar_mb",
        );
    }
}
