// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace CourseUnitClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CourseUnitClient {
    protected readonly _options: NormalizedClientOptions<CourseUnitClient.Options>;

    constructor(options: CourseUnitClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Retorna uma lista de ocorrencias de uma Unidade Curricular a partir um ocorrencia já conhecida
     *
     * @param {Sigarra.GetOccurrencesCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getOccurrences({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_ocorrencia_id: "pv_ocorrencia_id"
     *     })
     */
    public getOccurrences(
        request: Sigarra.GetOccurrencesCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetOccurrencesCourseUnitResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getOccurrences(request, requestOptions));
    }

    private async __getOccurrences(
        request: Sigarra.GetOccurrencesCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetOccurrencesCourseUnitResponseItem[]>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.outras_ocorrencias`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Sigarra.GetOccurrencesCourseUnitResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.outras_ocorrencias",
        );
    }

    /**
     * A partir de um id de occurência, retorna o conteudo da unidade curricular associada. Retorna
     *
     * @param {Sigarra.GetInfoCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getInfo({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_ocorrencia_id: "pv_ocorrencia_id"
     *     })
     */
    public getInfo(
        request: Sigarra.GetInfoCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetInfoCourseUnitResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getInfo(request, requestOptions));
    }

    private async __getInfo(
        request: Sigarra.GetInfoCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetInfoCourseUnitResponse>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.perfil`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.GetInfoCourseUnitResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.perfil",
        );
    }

    /**
     * Devolve uma lista das pessoas inscritas numa Unidade Curricular
     *
     * @param {Sigarra.GetEnrolledCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getEnrolled({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getEnrolled(
        request: Sigarra.GetEnrolledCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetEnrolledCourseUnitResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getEnrolled(request, requestOptions));
    }

    private async __getEnrolled(
        request: Sigarra.GetEnrolledCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetEnrolledCourseUnitResponseItem[]>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.uc_inscritos`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Sigarra.GetEnrolledCourseUnitResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.uc_inscritos",
        );
    }

    /**
     * For some occurrences (e.g. 2nd-semester ones), SIGARRA answers 200 with a malformed body: a leaked `Status: 404` CGI header followed by `{"erro", "erro_msg"}`.
     *
     * @param {Sigarra.GetClassesCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getClasses({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_ocorrencia_id: "pv_ocorrencia_id"
     *     })
     */
    public getClasses(
        request: Sigarra.GetClassesCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetClassesCourseUnitResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getClasses(request, requestOptions));
    }

    private async __getClasses(
        request: Sigarra.GetClassesCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetClassesCourseUnitResponse>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.uc_turmas`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.GetClassesCourseUnitResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.uc_turmas",
        );
    }

    /**
     * Ficheiros (Conteudos) de uma Unidade Curricular
     *
     * @param {Sigarra.GetFilesCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getFiles({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public getFiles(
        request: Sigarra.GetFilesCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetFilesCourseUnitResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getFiles(request, requestOptions));
    }

    private async __getFiles(
        request: Sigarra.GetFilesCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetFilesCourseUnitResponseItem[]>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_ucurr_geral.conteudos`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Sigarra.GetFilesCourseUnitResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_ucurr_geral.conteudos",
        );
    }

    /**
     * Without a valid session, SIGARRA answers `200` with an HTML error page ("Erro!") instead of the file.
     *
     * Fazer um download de um ficheiro a partir do seu id
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     */
    public downloadFile(
        request: Sigarra.DownloadFileCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadFile(request, requestOptions));
    }

    private async __downloadFile(
        request: Sigarra.DownloadFileCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { faculty, language, pct_id: pctId } = request;
        const _queryParams: Record<string, unknown> = {
            pct_id: pctId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/conteudos_service.conteudos_cont`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/conteudos_service.conteudos_cont",
        );
    }

    /**
     * Exam calendar of a course unit occurrence; exams are in `td.exame` cells.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetExamsPageCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getExamsPage({
     *         faculty: "faculty",
     *         language: "language",
     *         p_ocorr_id: "p_ocorr_id"
     *     })
     */
    public getExamsPage(
        request: Sigarra.GetExamsPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getExamsPage(request, requestOptions));
    }

    private async __getExamsPage(
        request: Sigarra.GetExamsPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, p_ocorr_id: pOcorrId } = request;
        const _queryParams: Record<string, unknown> = {
            p_ocorr_id: pOcorrId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/exa_geral.mapa_de_exames`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/exa_geral.mapa_de_exames",
        );
    }

    /**
     * A course unit's schedule page. `#cal-shadow-container[data-evt-source-url]` has the URL for `calendar.getCourseUnitEvents`.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetSchedulePageCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getSchedulePage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_ocorrencia_id: "pv_ocorrencia_id",
     *         pv_ano_lectivo: "pv_ano_lectivo",
     *         pv_periodos: "pv_periodos"
     *     })
     */
    public getSchedulePage(
        request: Sigarra.GetSchedulePageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getSchedulePage(request, requestOptions));
    }

    private async __getSchedulePage(
        request: Sigarra.GetSchedulePageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            faculty,
            language,
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodos: pvPeriodos,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodos: pvPeriodos,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/hor_geral.ucurr_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/hor_geral.ucurr_view",
        );
    }

    /**
     * Lists the courses a course unit occurrence belongs to, with links to `it_listagem.lista_turma_disciplina` for each.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetCoursesPageCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getCoursesPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_ocorrencia_id: "pv_ocorrencia_id"
     *     })
     */
    public getCoursesPage(
        request: Sigarra.GetCoursesPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getCoursesPage(request, requestOptions));
    }

    private async __getCoursesPage(
        request: Sigarra.GetCoursesPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/it_listagem.lista_cursos_disciplina`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/it_listagem.lista_cursos_disciplina",
        );
    }

    /**
     * Lists a course unit's classes and their students, for one course. `uni` follows the links in `it_listagem.lista_cursos_disciplina`.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetClassesPageCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getClassesPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_curso_id: "pv_curso_id",
     *         pv_ocorrencia_id: "pv_ocorrencia_id",
     *         pv_ano_lectivo: "pv_ano_lectivo",
     *         pv_periodo_id: "pv_periodo_id"
     *     })
     */
    public getClassesPage(
        request: Sigarra.GetClassesPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getClassesPage(request, requestOptions));
    }

    private async __getClassesPage(
        request: Sigarra.GetClassesPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            faculty,
            language,
            pv_curso_id: pvCursoId,
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodo_id: pvPeriodoId,
            pv_no_menu: pvNoMenu,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_curso_id: pvCursoId,
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodo_id: pvPeriodoId,
            pv_no_menu: pvNoMenu,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/it_listagem.lista_turma_disciplina`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/it_listagem.lista_turma_disciplina",
        );
    }

    /**
     * Weekly timetable of a course unit occurrence. Returns the weekly timetable of the week that contains `pv_semana_ini`; `pv_semana_fim` does not widen the range.
     *
     * Used by TTS.
     *
     * @param {Sigarra.GetScheduleCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getSchedule({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_ocorrencia_id: "pv_ocorrencia_id",
     *         pv_semana_ini: "pv_semana_ini",
     *         pv_semana_fim: "pv_semana_fim"
     *     })
     */
    public getSchedule(
        request: Sigarra.GetScheduleCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.WeeklySchedule> {
        return core.HttpResponsePromise.fromPromise(this.__getSchedule(request, requestOptions));
    }

    private async __getSchedule(
        request: Sigarra.GetScheduleCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.WeeklySchedule>> {
        const {
            faculty,
            language,
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_semana_ini: pvSemanaIni,
            pv_semana_fim: pvSemanaFim,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
            pv_semana_ini: pvSemanaIni,
            pv_semana_fim: pvSemanaFim,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_hor_geral.ucurr`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.WeeklySchedule, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_hor_geral.ucurr",
        );
    }

    /**
     * Search results for course unit occurrences (the form is `ucurr_geral.pesquisa_ucs`). Each result row (`table.dados .d`) links to `ucurr_geral.ficha_uc_view?pv_ocorrencia_id=`; results are paginated, and the last page is linked from `.paginar-saltar-barra-posicao`. All filters are optional.
     *
     * Used by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).
     *
     * @param {Sigarra.SearchPageCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.searchPage({
     *         faculty: "faculty",
     *         language: "language"
     *     })
     */
    public searchPage(
        request: Sigarra.SearchPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__searchPage(request, requestOptions));
    }

    private async __searchPage(
        request: Sigarra.SearchPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            faculty,
            language,
            pv_ano_lectivo: pvAnoLectivo,
            pv_curso_id: pvCursoId,
            pv_curso_nome: pvCursoNome,
            pv_uc_codigo: pvUcCodigo,
            pv_uc_sigla: pvUcSigla,
            pv_uc_nome: pvUcNome,
            pv_uc_ano: pvUcAno,
            pv_uc_periodo: pvUcPeriodo,
            pv_doc_codigo: pvDocCodigo,
            pv_doc_sigla: pvDocSigla,
            pv_doc_nome: pvDocNome,
            pv_lingua: pvLingua,
            pv_tipo_curso: pvTipoCurso,
            pv_tipo_avaliacao: pvTipoAvaliacao,
            pv_num_pag: pvNumPag,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ano_lectivo: pvAnoLectivo,
            pv_curso_id: pvCursoId,
            pv_curso_nome: pvCursoNome,
            pv_uc_codigo: pvUcCodigo,
            pv_uc_sigla: pvUcSigla,
            pv_uc_nome: pvUcNome,
            pv_uc_ano: pvUcAno,
            pv_uc_periodo: pvUcPeriodo,
            pv_doc_codigo: pvDocCodigo,
            pv_doc_sigla: pvDocSigla,
            pv_doc_nome: pvDocNome,
            pv_lingua: pvLingua,
            pv_tipo_curso: pvTipoCurso,
            pv_tipo_avaliacao: pvTipoAvaliacao,
            pv_num_pag: pvNumPag,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/ucurr_geral.pesquisa_ocorr_ucs_list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/ucurr_geral.pesquisa_ocorr_ucs_list",
        );
    }

    /**
     * A course unit occurrence's page: name, acronym ("Sigla:" / "Acronym:"), occurrence (`h2`, e.g. "Ocorrência: 2023/2024 - 1S"), and the "Ciclos de Estudo/Cursos" table (course, curricular year, ECTS). With a valid session it also shows teaching responsibilities and hours, and navigation links (Conteúdos, Estudantes, Horário, Turmas, Exames, …); in particular, `<a>Horário</a>` links to `hor_geral.ucurr_view?pv_ocorrencia_id=` only with a session. An unknown occurrence answers `200` with a "Sem Resultados" page.
     *
     * Used by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).
     *
     * @param {Sigarra.GetSheetPageCourseUnitRequest} request
     * @param {CourseUnitClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.courseUnit.getSheetPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_ocorrencia_id: "pv_ocorrencia_id"
     *     })
     */
    public getSheetPage(
        request: Sigarra.GetSheetPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getSheetPage(request, requestOptions));
    }

    private async __getSheetPage(
        request: Sigarra.GetSheetPageCourseUnitRequest,
        requestOptions?: CourseUnitClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pv_ocorrencia_id: pvOcorrenciaId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_ocorrencia_id: pvOcorrenciaId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/ucurr_geral.ficha_uc_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/ucurr_geral.ficha_uc_view",
        );
    }
}
