// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sigarra from "../../../index.js";

export declare namespace StudentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StudentClient {
    protected readonly _options: NormalizedClientOptions<StudentClient.Options>;

    constructor(options: StudentClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Retorna o horários de um estudante (Ainda por testar para retornar um exemplo de response)
     *
     * Returns the weekly timetable of the week that contains `pv_semana_ini`; `pv_semana_fim` does not widen the range.
     *
     * @param {Sigarra.GetScheduleStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getSchedule({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_codigo: "pv_codigo",
     *         pv_semana_ini: "pv_semana_ini",
     *         pv_semana_fim: "pv_semana_fim"
     *     })
     */
    public getSchedule(
        request: Sigarra.GetScheduleStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.WeeklySchedule> {
        return core.HttpResponsePromise.fromPromise(this.__getSchedule(request, requestOptions));
    }

    private async __getSchedule(
        request: Sigarra.GetScheduleStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.WeeklySchedule>> {
        const {
            faculty,
            language,
            pv_codigo: pvCodigo,
            pv_semana_ini: pvSemanaIni,
            pv_semana_fim: pvSemanaFim,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_codigo: pvCodigo,
            pv_semana_ini: pvSemanaIni,
            pv_semana_fim: pvSemanaFim,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_hor_geral.estudante`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.WeeklySchedule, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_hor_geral.estudante",
        );
    }

    /**
     * Exames do usuário autenticado
     *
     * @param {Sigarra.GetExamsStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getExams({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_codigo: "pv_codigo"
     *     })
     */
    public getExams(
        request: Sigarra.GetExamsStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetExamsStudentResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getExams(request, requestOptions));
    }

    private async __getExams(
        request: Sigarra.GetExamsStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetExamsStudentResponseItem[]>> {
        const { faculty, language, pv_codigo: pvCodigo } = request;
        const _queryParams: Record<string, unknown> = {
            pv_codigo: pvCodigo,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_fest_geral.exames`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Sigarra.GetExamsStudentResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_fest_geral.exames",
        );
    }

    /**
     * Percurso académico do usuário autenticado
     *
     * @param {Sigarra.GetAcademicPathStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getAcademicPath({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_codigo: "pv_codigo"
     *     })
     */
    public getAcademicPath(
        request: Sigarra.GetAcademicPathStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetAcademicPathStudentResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getAcademicPath(request, requestOptions));
    }

    private async __getAcademicPath(
        request: Sigarra.GetAcademicPathStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetAcademicPathStudentResponseItem[]>> {
        const {
            faculty,
            language,
            pv_codigo: pvCodigo,
            pv_ano_lectivo_min: pvAnoLectivoMin,
            pv_ano_lectivo_max: pvAnoLectivoMax,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_codigo: pvCodigo,
            pv_ano_lectivo_min: pvAnoLectivoMin,
            pv_ano_lectivo_max: pvAnoLectivoMax,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_fest_geral.percurso_academico`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Sigarra.GetAcademicPathStudentResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_fest_geral.percurso_academico",
        );
    }

    /**
     * Dados do usuário autenticado
     *
     * @param {Sigarra.GetProfileStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getProfile({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_codigo: "pv_codigo"
     *     })
     */
    public getProfile(
        request: Sigarra.GetProfileStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetProfileStudentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getProfile(request, requestOptions));
    }

    private async __getProfile(
        request: Sigarra.GetProfileStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetProfileStudentResponse>> {
        const { faculty, language, pv_codigo: pvCodigo } = request;
        const _queryParams: Record<string, unknown> = {
            pv_codigo: pvCodigo,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_fest_geral.perfil`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Sigarra.GetProfileStudentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_fest_geral.perfil",
        );
    }

    /**
     * Retorna uma lista com os cursos a que o estudante está inscrito com as respetivas unidades curriculares atuais
     *
     * @param {Sigarra.GetCurrentCoursesStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getCurrentCourses({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_codigo: "pv_codigo"
     *     })
     */
    public getCurrentCourses(
        request: Sigarra.GetCurrentCoursesStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<Sigarra.GetCurrentCoursesStudentResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getCurrentCourses(request, requestOptions));
    }

    private async __getCurrentCourses(
        request: Sigarra.GetCurrentCoursesStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Sigarra.GetCurrentCoursesStudentResponseItem[]>> {
        const { faculty, language, pv_codigo: pvCodigo } = request;
        const _queryParams: Record<string, unknown> = {
            pv_codigo: pvCodigo,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/mob_fest_geral.ucurr_inscricoes_corrente`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Sigarra.GetCurrentCoursesStudentResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/mob_fest_geral.ucurr_inscricoes_corrente",
        );
    }

    /**
     * Without a valid session, SIGARRA answers `200` with a redirect page to another faculty instead of the list.
     *
     * Lists the faculties a person belongs to (`#conteudoinner>ul a`, e.g. "Faculdade de Engenharia (FEUP)"). `uni` requests it with `faculty` set to `up`.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetFacultiesPageStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getFacultiesPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pct_codigo: "pct_codigo"
     *     })
     */
    public getFacultiesPage(
        request: Sigarra.GetFacultiesPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getFacultiesPage(request, requestOptions));
    }

    private async __getFacultiesPage(
        request: Sigarra.GetFacultiesPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pct_codigo: pctCodigo } = request;
        const _queryParams: Record<string, unknown> = {
            pct_codigo: pctCodigo,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/vld_entidades_geral.entidade_pagina`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/vld_entidades_geral.entidade_pagina",
        );
    }

    /**
     * Lists a student's courses and links to each `fest_geral.curso_percurso_academico_view?pv_fest_id=`. `uni` also uses it to check whether the session is still valid.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetCoursesPageStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getCoursesPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_num_unico: "pv_num_unico"
     *     })
     */
    public getCoursesPage(
        request: Sigarra.GetCoursesPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getCoursesPage(request, requestOptions));
    }

    private async __getCoursesPage(
        request: Sigarra.GetCoursesPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pv_num_unico: pvNumUnico } = request;
        const _queryParams: Record<string, unknown> = {
            pv_num_unico: pvNumUnico,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/fest_geral.cursos_list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/fest_geral.cursos_list",
        );
    }

    /**
     * A student's academic path in a course: course units, grades and the course average.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetCourseAcademicPathPageStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getCourseAcademicPathPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_fest_id: "pv_fest_id"
     *     })
     */
    public getCourseAcademicPathPage(
        request: Sigarra.GetCourseAcademicPathPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getCourseAcademicPathPage(request, requestOptions));
    }

    private async __getCourseAcademicPathPage(
        request: Sigarra.GetCourseAcademicPathPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pv_fest_id: pvFestId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_fest_id: pvFestId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/fest_geral.curso_percurso_academico_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/fest_geral.curso_percurso_academico_view",
        );
    }

    /**
     * A student's course unit enrolments in a course.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetCourseUnitEnrollmentsPageStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getCourseUnitEnrollmentsPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_fest_id: "pv_fest_id"
     *     })
     */
    public getCourseUnitEnrollmentsPage(
        request: Sigarra.GetCourseUnitEnrollmentsPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getCourseUnitEnrollmentsPage(request, requestOptions));
    }

    private async __getCourseUnitEnrollmentsPage(
        request: Sigarra.GetCourseUnitEnrollmentsPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pv_fest_id: pvFestId } = request;
        const _queryParams: Record<string, unknown> = {
            pv_fest_id: pvFestId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/fest_geral.ucurr_inscricoes_list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/fest_geral.ucurr_inscricoes_list",
        );
    }

    /**
     * Without a valid session, SIGARRA answers `200` with a one-line error ("Erro - Não tem permissões de acesso a esta página.").
     *
     * A student's personal details.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetPersonalInfoPageStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getPersonalInfoPage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_num_unico: "pv_num_unico",
     *         pv_dummy: "pv_dummy"
     *     })
     */
    public getPersonalInfoPage(
        request: Sigarra.GetPersonalInfoPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getPersonalInfoPage(request, requestOptions));
    }

    private async __getPersonalInfoPage(
        request: Sigarra.GetPersonalInfoPageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { faculty, language, pv_num_unico: pvNumUnico, pv_dummy: pvDummy } = request;
        const _queryParams: Record<string, unknown> = {
            pv_num_unico: pvNumUnico,
            pv_dummy: pvDummy,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/fest_geral.info_pessoal_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SigarraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/fest_geral.info_pessoal_view",
        );
    }

    /**
     * A student's schedule page. `#cal-shadow-container[data-evt-source-url]` has the URL for `calendar.getStudentEvents`.
     *
     * Used by [uni](https://github.com/NIAEFEUP/uni).
     *
     * @param {Sigarra.GetSchedulePageStudentRequest} request
     * @param {StudentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sigarra.ForbiddenError}
     * @throws {@link errors.SigarraError}
     * @throws {@link errors.SigarraTimeoutError}
     *
     * @example
     *     await client.student.getSchedulePage({
     *         faculty: "faculty",
     *         language: "language",
     *         pv_num_unico: "pv_num_unico",
     *         pv_ano_lectivo: "pv_ano_lectivo",
     *         pv_periodos: "pv_periodos"
     *     })
     */
    public getSchedulePage(
        request: Sigarra.GetSchedulePageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getSchedulePage(request, requestOptions));
    }

    private async __getSchedulePage(
        request: Sigarra.GetSchedulePageStudentRequest,
        requestOptions?: StudentClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            faculty,
            language,
            pv_num_unico: pvNumUnico,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodos: pvPeriodos,
        } = request;
        const _queryParams: Record<string, unknown> = {
            pv_num_unico: pvNumUnico,
            pv_ano_lectivo: pvAnoLectivo,
            pv_periodos: pvPeriodos,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SigarraEnvironment.Default,
                `${core.url.encodePathParam(faculty)}/${core.url.encodePathParam(language)}/hor_geral.estudantes_view`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Sigarra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SigarraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/{faculty}/{language}/hor_geral.estudantes_view",
        );
    }
}
