{
  "openapi": "3.1.0",
  "info": {
    "title": "SIGARRA",
    "description": "SIGARRA, the academic information system of the University of Porto.\n\n## Authentication\n\nAuthenticated requests need two session cookies, `SI_SESSION` and `SI_SECURITY` (both are required). `HTTP_SESSION`, which HTML pages set when a request has none, has no effect on authentication or on responses. Sessions are bound to the IP address that created them (the one that logged in, or that called `/auth/oidc/token`): from any other address, requests are treated as unauthenticated, although the session keeps working from the original address. The calendar API (`/calendarios-api/`) is the exception: it accepts a session from any address. Sessions expire and there is no refresh endpoint: authenticate again to get new cookies. `GET /{faculty}/{language}/vld_validacao.sair` ends a session. There are three ways to get them:\n\n1. **Credentials.** `POST /{faculty}/{language}/vld_validacao.validacao` (the website's login form) with `p_user` and `p_pass` sets the cookies; `mob_val_geral.autentica` is a JSON alternative. Any faculty path works, including `up`. The cookies have no expiry date, but the session itself ends about 2 hours after logging in, regardless of activity (observed once; it matches the 2 hours of OIDC sessions).\n2. **OpenID Connect.** Get a token from the U.Porto identity provider, a Keycloak realm at `https://open-id.up.pt/realms/sigarra` (discovery: `/.well-known/openid-configuration`), then exchange it for the cookies at `GET /auth/oidc/token`. Each exchange creates a new session that lasts 2 hours, regardless of the token's own lifetime. Apps need their own client registered in that realm (redirect URIs are checked); [uni](https://github.com/NIAEFEUP/uni)'s tokens have the audiences `it-sigarra-oidc-bridge` and `catalogo-apis`. Access tokens last 15 minutes; with the `offline_access` scope, the refresh token does not expire. The password grant rejects U.Porto credentials (`invalid_grant`), so tokens have to be obtained through a browser (authorization code flow, with PKCE for public clients). The `uporto_data` scope adds U.Porto claims to the token and user info: `nmec` (student number, without `up`) and `ous` (faculty acronyms, e.g. `[\"FEUP\"]`).\n3. **SAML (browser only).** `GET /{faculty}/{language}/vld_validacao.federate_login` redirects to U.Porto's Shibboleth identity provider at `wayf.up.pt`; SIGARRA is the service provider `https://sigarra.up.pt/shibboleth`.\n\nWithout a valid session, JSON endpoints answer `403` with `{\"erro\", \"erro_msg\"}`, HTML pages answer `403` with an error page, and the calendar API answers `403` with an empty body. Some pages answer `200` with an error page instead; this is noted on each of them.\n\n## Other conventions\n\n- Pages under `/{faculty}/{language}/` are PL/SQL procedures: an unknown or missing parameter makes SIGARRA answer `404`.\n- Many JSON endpoints are served with an inaccurate content type; they are noted individually.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://sigarra.up.pt"
    }
  ],
  "paths": {
    "/feup/pt/": {
      "get": {
        "operationId": "feup-home",
        "summary": "FEUP home",
        "description": "Entry point of the FEUP faculty in Portuguese. Redirects to the faculty's initial web page.",
        "x-fern-sdk-group-name": "feup",
        "x-fern-sdk-method-name": "home",
        "responses": {
          "302": {
            "description": "Redirect to the faculty's initial web page.",
            "headers": {
              "Location": {
                "description": "Faculty's initial web page.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "/feup/pt/web_page.inicial"
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{faculty}/{language}/mob_hor_geral.estudante": {
      "get": {
        "operationId": "horário",
        "summary": "Horário",
        "description": "Retorna o horários de um estudante (Ainda por testar para retornar um exemplo de response)\n\nReturns the weekly timetable of the week that contains `pv_semana_ini`; `pv_semana_fim` does not widen the range.",
        "x-fern-sdk-group-name": "student",
        "x-fern-sdk-method-name": "getSchedule",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          },
          {
            "name": "pv_codigo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pv_semana_ini",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Start of the period, as YYYYMMDD."
          },
          {
            "name": "pv_semana_fim",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "End of the period, as YYYYMMDD."
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeeklySchedule"
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{faculty}/{language}/mob_fest_geral.exames": {
      "get": {
        "operationId": "getting-started-with-your-api-1",
        "summary": "Exames",
        "description": "Exames do usuário autenticado",
        "x-fern-sdk-group-name": "student",
        "x-fern-sdk-method-name": "getExams",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "pv_codigo",
            "in": "query",
            "description": "número mecatrónico",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "ocorr_id": {
                        "type": "integer",
                        "description": "ID da ocorrência"
                      },
                      "ocorr_nome": {
                        "type": "string",
                        "description": "Nome da ocorrência"
                      },
                      "data": {
                        "type": "string",
                        "description": "ISO 8601"
                      },
                      "hora_inicio": {
                        "type": "string",
                        "description": "ISO 8601"
                      },
                      "hora_fim": {
                        "type": "string",
                        "description": "ISO 8601"
                      },
                      "duracao": {},
                      "pfunc_id": {
                        "type": "integer",
                        "description": "Vigilante"
                      },
                      "tipo": {
                        "type": "string",
                        "description": "Tipo de exame"
                      },
                      "tipo_descricao": {
                        "type": "string",
                        "description": "Descrição do tipo de exame"
                      },
                      "epoca": {
                        "type": "string",
                        "description": "Nome da época de avaliação"
                      },
                      "salas": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "espaco_id": {
                              "type": "integer"
                            },
                            "espaco_sigla": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{faculty}/{language}/mob_fest_geral.percurso_academico": {
      "get": {
        "operationId": "percurso-académico",
        "summary": "Percurso Académico",
        "description": "Percurso académico do usuário autenticado",
        "x-fern-sdk-group-name": "student",
        "x-fern-sdk-method-name": "getAcademicPath",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          },
          {
            "name": "pv_codigo",
            "in": "query",
            "description": "número mecatrónico",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pv_ano_lectivo_min",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pv_ano_lectivo_max",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fest_id": {
                        "type": "integer"
                      },
                      "fest_tipo": {
                        "type": "string"
                      },
                      "fest_tipo_descr": {
                        "type": "string"
                      },
                      "cur_nome": {
                        "type": "string"
                      },
                      "cur_name": {
                        "type": "string"
                      },
                      "cur_sigla": {
                        "type": "string"
                      },
                      "ano_curricular": {
                        "type": "string"
                      },
                      "media": {
                        "type": "number"
                      },
                      "inscricoes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ucurr_id": {
                              "type": "integer"
                            },
                            "ucurr_codigo": {
                              "type": "string"
                            },
                            "ucurr_sigla": {
                              "type": "string"
                            },
                            "ucurr_nome": {
                              "type": "string"
                            },
                            "ucurr_name": {
                              "type": "string"
                            },
                            "a_lectivo": {
                              "type": "integer"
                            },
                            "ano": {
                              "type": "integer"
                            },
                            "ocorr_id": {
                              "type": "integer"
                            },
                            "ucurr_tipo": {
                              "type": "string"
                            },
                            "ucurr_duracao_tipo": {
                              "type": "string"
                            },
                            "id": {
                              "type": "integer"
                            },
                            "inst_id": {
                              "type": "integer"
                            },
                            "comp_id": {
                              "type": "integer"
                            },
                            "per_id": {
                              "type": "integer"
                            },
                            "per_codigo": {
                              "type": "string"
                            },
                            "per_nome": {
                              "type": "string"
                            },
                            "tipo": {
                              "type": "string"
                            },
                            "estado": {
                              "type": "string"
                            },
                            "frequencia": {
                              "type": "string"
                            },
                            "avaliacao": {
                              "type": "string"
                            },
                            "resultado_melhor": {
                              "type": "string"
                            },
                            "resultado_ects": {
                              "type": "string"
                            },
                            "aval_a_lectivo": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "resultado_insc": {
                              "type": "string"
                            },
                            "creditos_ucn": {
                              "type": "null"
                            },
                            "creditos_ects": {
                              "type": "number"
                            },
                            "n_ucurrs": {
                              "type": "integer"
                            },
                            "tipo_ucurrs": {
                              "type": "string"
                            },
                            "obr_opt": {
                              "type": "string"
                            },
                            "regra_eq": {
                              "type": "string"
                            },
                            "devedor": {
                              "type": "string"
                            },
                            "incumpridor": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "ucurr_id",
                            "ucurr_codigo",
                            "ucurr_sigla",
                            "ucurr_nome",
                            "ucurr_name",
                            "a_lectivo",
                            "ano",
                            "ocorr_id",
                            "ucurr_tipo",
                            "ucurr_duracao_tipo",
                            "id",
                            "inst_id",
                            "comp_id",
                            "per_id",
                            "per_codigo",
                            "per_nome",
                            "tipo",
                            "estado",
                            "frequencia",
                            "avaliacao",
                            "resultado_melhor",
                            "resultado_ects",
                            "aval_a_lectivo",
                            "resultado_insc",
                            "creditos_ucn",
                            "creditos_ects",
                            "n_ucurrs",
                            "tipo_ucurrs",
                            "obr_opt",
                            "regra_eq",
                            "devedor",
                            "incumpridor"
                          ]
                        }
                      }
                    },
                    "required": [
                      "fest_id",
                      "fest_tipo",
                      "fest_tipo_descr",
                      "cur_nome",
                      "cur_name",
                      "cur_sigla",
                      "ano_curricular",
                      "media",
                      "inscricoes"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{faculty}/{language}/mob_fest_geral.perfil": {
      "get": {
        "operationId": "perfil",
        "summary": "Perfil",
        "description": "Dados do usuário autenticado",
        "x-fern-sdk-group-name": "student",
        "x-fern-sdk-method-name": "getProfile",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          },
          {
            "name": "pv_codigo",
            "in": "query",
            "description": "número mecatrónico",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string"
                    },
                    "nome": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_alt": {
                      "type": "string"
                    },
                    "pagina_web": {
                      "type": "string"
                    },
                    "telemovel": {
                      "type": "string"
                    },
                    "telefone": {
                      "type": "string"
                    },
                    "cursos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fest_id": {
                            "type": "integer"
                          },
                          "fest_tipo": {
                            "type": "string"
                          },
                          "fest_tipo_descr": {
                            "type": "string"
                          },
                          "cur_nome": {
                            "type": "string"
                          },
                          "cur_name": {
                            "type": "string"
                          },
                          "cur_sigla": {
                            "type": "string"
                          },
                          "fest_a_lect_1_insc": {
                            "type": "integer"
                          },
                          "fest_d_1_insc": {
                            "type": "string"
                          },
                          "cur_id": {
                            "type": "integer"
                          },
                          "est_alectivo": {
                            "type": "integer"
                          },
                          "est_sig": {
                            "type": "string"
                          },
                          "est_nome": {
                            "type": "string"
                          },
                          "est_d_inicio": {
                            "type": "string"
                          },
                          "est_d_fim": {
                            "type": "string"
                          },
                          "inst_nome": {
                            "type": "string"
                          },
                          "inst_sigla": {
                            "type": "string"
                          },
                          "ano_curricular": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "fest_id",
                          "fest_tipo",
                          "fest_tipo_descr",
                          "cur_nome",
                          "cur_name",
                          "cur_sigla",
                          "fest_a_lect_1_insc",
                          "fest_d_1_insc",
                          "cur_id",
                          "est_alectivo",
                          "est_sig",
                          "est_nome",
                          "est_d_inicio",
                          "est_d_fim",
                          "inst_nome",
                          "inst_sigla",
                          "ano_curricular"
                        ]
                      }
                    }
                  },
                  "required": [
                    "codigo",
                    "nome",
                    "email",
                    "email_alt",
                    "pagina_web",
                    "telemovel",
                    "telefone",
                    "cursos"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{faculty}/{language}/mob_fest_geral.ucurr_inscricoes_corrente": {
      "get": {
        "operationId": "cadeiras-atuais",
        "summary": "Cursos e respetivas UCs",
        "description": "Retorna uma lista com os cursos a que o estudante está inscrito com as respetivas unidades curriculares atuais",
        "x-fern-sdk-group-name": "student",
        "x-fern-sdk-method-name": "getCurrentCourses",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          },
          {
            "name": "pv_codigo",
            "in": "query",
            "description": "número mecatrónico",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fest_id": {
                        "type": "integer"
                      },
                      "fest_tipo": {
                        "type": "string"
                      },
                      "fest_tipo_descr": {
                        "type": "string"
                      },
                      "cur_nome": {
                        "type": "string"
                      },
                      "cur_name": {
                        "type": "string"
                      },
                      "cur_sigla": {
                        "type": "string"
                      },
                      "ano_curricular": {
                        "type": "string"
                      },
                      "inscricoes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ucurr_id": {
                              "type": "integer"
                            },
                            "ucurr_codigo": {
                              "type": "string"
                            },
                            "ucurr_sigla": {
                              "type": "string"
                            },
                            "ucurr_nome": {
                              "type": "string"
                            },
                            "ucurr_name": {
                              "type": "string"
                            },
                            "a_lectivo": {
                              "type": "integer"
                            },
                            "ano": {
                              "type": "integer"
                            },
                            "ocorr_id": {
                              "type": "integer"
                            },
                            "ucurr_tipo": {
                              "type": "string"
                            },
                            "ucurr_duracao_tipo": {
                              "type": "string"
                            },
                            "id": {
                              "type": "integer"
                            },
                            "inst_id": {
                              "type": "integer"
                            },
                            "comp_id": {
                              "type": "integer"
                            },
                            "per_id": {
                              "type": "integer"
                            },
                            "per_codigo": {
                              "type": "string"
                            },
                            "per_nome": {
                              "type": "string"
                            },
                            "tipo": {
                              "type": "string"
                            },
                            "estado": {
                              "type": "string"
                            },
                            "frequencia": {
                              "type": "string"
                            },
                            "avaliacao": {
                              "type": "string"
                            },
                            "resultado_melhor": {
                              "type": "string"
                            },
                            "resultado_ects": {
                              "type": "string"
                            },
                            "aval_a_lectivo": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "resultado_insc": {
                              "type": "string"
                            },
                            "creditos_ucn": {
                              "type": "null"
                            },
                            "creditos_ects": {
                              "type": "integer"
                            },
                            "n_ucurrs": {
                              "type": "integer"
                            },
                            "tipo_ucurrs": {
                              "type": "string"
                            },
                            "obr_opt": {
                              "type": "string"
                            },
                            "regra_eq": {
                              "type": "string"
                            },
                            "devedor": {
                              "type": "string"
                            },
                            "incumpridor": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "ucurr_id",
                            "ucurr_codigo",
                            "ucurr_sigla",
                            "ucurr_nome",
                            "ucurr_name",
                            "a_lectivo",
                            "ano",
                            "ocorr_id",
                            "ucurr_tipo",
                            "ucurr_duracao_tipo",
                            "id",
                            "inst_id",
                            "comp_id",
                            "per_id",
                            "per_codigo",
                            "per_nome",
                            "tipo",
                            "estado",
                            "frequencia",
                            "avaliacao",
                            "resultado_melhor",
                            "resultado_ects",
                            "aval_a_lectivo",
                            "resultado_insc",
                            "creditos_ucn",
                            "creditos_ects",
                            "n_ucurrs",
                            "tipo_ucurrs",
                            "obr_opt",
                            "regra_eq",
                            "devedor",
                            "incumpridor"
                          ]
                        }
                      }
                    },
                    "required": [
                      "fest_id",
                      "fest_tipo",
                      "fest_tipo_descr",
                      "cur_nome",
                      "cur_name",
                      "cur_sigla",
                      "ano_curricular",
                      "inscricoes"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.outras_ocorrencias": {
      "get": {
        "operationId": "ocorrencias-de-uc",
        "summary": "UC - Ocorrências",
        "description": "Retorna uma lista de ocorrencias de uma Unidade Curricular a partir um ocorrencia já conhecida",
        "x-fern-sdk-group-name": "courseUnit",
        "x-fern-sdk-method-name": "getOccurrences",
        "parameters": [
          {
            "name": "pv_ocorrencia_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "484377"
            }
          },
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "nome": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ano_letivo": {
                        "type": "integer"
                      },
                      "data_inicio": {
                        "type": "string"
                      },
                      "data_fim": {
                        "type": "string"
                      },
                      "periodo_nome": {
                        "type": "string"
                      },
                      "periodo_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "nome",
                      "name",
                      "ano_letivo",
                      "data_inicio",
                      "data_fim",
                      "periodo_nome",
                      "periodo_id"
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.perfil": {
      "get": {
        "operationId": "conteudo-unidade-curricular",
        "summary": "UC - Informações",
        "description": "A partir de um id de occurência, retorna o conteudo da unidade curricular associada. Retorna",
        "x-fern-sdk-group-name": "courseUnit",
        "x-fern-sdk-method-name": "getInfo",
        "parameters": [
          {
            "name": "pv_ocorrencia_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "484377"
            }
          },
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string"
                    },
                    "ucurr_id": {
                      "type": "integer"
                    },
                    "nome": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "sigla": {
                      "type": "string"
                    },
                    "areas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nome": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "nome",
                          "name"
                        ]
                      }
                    },
                    "ano_lectivo": {
                      "type": "integer"
                    },
                    "pagina_elearning": {
                      "type": "string"
                    },
                    "carga_horaria": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tipo": {
                            "type": "string"
                          },
                          "descricao": {
                            "type": "string"
                          },
                          "horas": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "tipo",
                          "descricao",
                          "horas"
                        ]
                      }
                    },
                    "ds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tipo": {
                            "type": "string"
                          },
                          "tipo_descricao": {
                            "type": "string"
                          },
                          "num_turmas": {
                            "type": "integer"
                          },
                          "num_horas": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "docentes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "doc_codigo": {
                                  "type": "string"
                                },
                                "nome": {
                                  "type": "string"
                                },
                                "horas": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "doc_codigo",
                                "nome",
                                "horas"
                              ]
                            }
                          }
                        },
                        "required": [
                          "tipo",
                          "tipo_descricao",
                          "num_turmas",
                          "num_horas",
                          "docentes"
                        ]
                      }
                    },
                    "responsabilidades": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "string"
                          },
                          "nome": {
                            "type": "string"
                          },
                          "papel": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "codigo",
                          "nome",
                          "papel"
                        ]
                      }
                    },
                    "estado": {
                      "type": "string"
                    },
                    "lingua": {
                      "type": "string"
                    },
                    "objectivos": {
                      "type": "string"
                    },
                    "conteudo": {
                      "type": "string"
                    },
                    "bibliografia": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tipo": {
                            "type": "string"
                          },
                          "tipo_descr": {
                            "type": "string"
                          },
                          "autores": {
                            "type": "string"
                          },
                          "titulo": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          },
                          "editor": {
                            "type": "string"
                          },
                          "ano": {
                            "type": "string"
                          },
                          "isbn": {
                            "type": "string"
                          },
                          "obs": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "tipo",
                          "tipo_descr",
                          "autores",
                          "titulo",
                          "link",
                          "editor",
                          "ano",
                          "isbn",
                          "obs"
                        ]
                      }
                    },
                    "bib_obs": {
                      "type": "string"
                    },
                    "metodologia": {
                      "type": "string"
                    },
                    "avaliacao": {
                      "type": "string"
                    },
                    "software": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nome": {
                            "type": "null"
                          },
                          "descricao": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "nome",
                          "descricao"
                        ]
                      }
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "descricao": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "descricao"
                        ]
                      }
                    },
                    "modo_avaliacao": {
                      "type": "string"
                    },
                    "comp_avaliacao": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "descricao": {
                            "type": "string"
                          },
                          "tipo": {
                            "type": "string"
                          },
                          "tipo_descr": {
                            "type": "string"
                          },
                          "duracao": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "data_conclusao": {
                            "type": "string"
                          },
                          "peso": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "descricao",
                          "tipo",
                          "tipo_descr",
                          "duracao",
                          "data_conclusao",
                          "peso"
                        ]
                      }
                    },
                    "cond_frequencia": {
                      "type": "string"
                    },
                    "for_avaliacao": {
                      "type": "string"
                    },
                    "provas_avaliacao": {
                      "type": "string"
                    },
                    "forma_avaliacao": {
                      "type": "string"
                    },
                    "forma_melhoria": {
                      "type": "string"
                    },
                    "observacoes": {
                      "type": "string"
                    },
                    "pagina_web": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "codigo",
                    "ucurr_id",
                    "nome",
                    "name",
                    "sigla",
                    "areas",
                    "ano_lectivo",
                    "pagina_elearning",
                    "carga_horaria",
                    "ds",
                    "responsabilidades"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.uc_inscritos": {
      "get": {
        "operationId": "inscritos-numa-uc",
        "summary": "UC - Inscritos",
        "description": "Devolve uma lista das pessoas inscritas numa Unidade Curricular",
        "x-fern-sdk-group-name": "courseUnit",
        "x-fern-sdk-method-name": "getEnrolled",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          },
          {
            "name": "pv_ocorrencia_id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "484377"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "string"
                      },
                      "nome": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "codigo",
                      "nome"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.uc_turmas": {
      "get": {
        "operationId": "uc-turmas",
        "summary": "UC - Turmas",
        "x-fern-sdk-group-name": "courseUnit",
        "x-fern-sdk-method-name": "getClasses",
        "parameters": [
          {
            "name": "pv_ocorrencia_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "484377"
            }
          },
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "turmas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "turma_id": {
                            "type": "integer"
                          },
                          "n_max_alunos": {
                            "type": "null"
                          }
                        },
                        "required": [
                          "turma_id",
                          "n_max_alunos"
                        ]
                      }
                    }
                  },
                  "required": [
                    "turmas"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "For some occurrences (e.g. 2nd-semester ones), SIGARRA answers 200 with a malformed body: a leaked `Status: 404` CGI header followed by `{\"erro\", \"erro_msg\"}`."
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.conteudos": {
      "get": {
        "operationId": "uc-ficheiros",
        "summary": "UC - Ficheiros",
        "description": "Ficheiros (Conteudos) de uma Unidade Curricular",
        "x-fern-sdk-group-name": "courseUnit",
        "x-fern-sdk-method-name": "getFiles",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          },
          {
            "name": "pv_ocorrencia_id",
            "in": "query",
            "description": "O id da ocorrencia que define a UC a que se pretende ir buscar ficheiros",
            "schema": {
              "type": "string",
              "default": "484400"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "integer"
                      },
                      "nome": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "nivel": {
                        "type": "integer"
                      },
                      "ficheiros": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "codigo": {
                              "type": "integer"
                            },
                            "nome": {
                              "type": "string"
                            },
                            "tipo": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "filename": {
                              "type": "string"
                            },
                            "tamanho": {
                              "type": "integer"
                            },
                            "data_actualizacao": {
                              "type": "string"
                            },
                            "comentario": {
                              "type": "string"
                            },
                            "descricao": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "codigo",
                            "nome",
                            "tipo",
                            "url",
                            "filename",
                            "tamanho",
                            "data_actualizacao",
                            "comentario",
                            "descricao"
                          ]
                        }
                      }
                    },
                    "required": [
                      "codigo",
                      "nome",
                      "name",
                      "nivel",
                      "ficheiros"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{faculty}/{language}/conteudos_service.conteudos_cont": {
      "get": {
        "operationId": "download-ficheiro",
        "summary": "Download Ficheiro",
        "description": "Without a valid session, SIGARRA answers `200` with an HTML error page (\"Erro!\") instead of the file.\n\nFazer um download de um ficheiro a partir do seu id",
        "x-fern-sdk-group-name": "courseUnit",
        "x-fern-sdk-method-name": "downloadFile",
        "parameters": [
          {
            "name": "pct_id",
            "in": "query",
            "description": "The id of the document to be downloaded",
            "schema": {
              "type": "string",
              "default": "515516"
            }
          },
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "The file, with its own content type (e.g. `application/pdf`).",
            "headers": {
              "Content-Disposition": {
                "description": "Contains the file name.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.sum_turmas": {
      "get": {
        "operationId": "turmas-de-uma-uc",
        "summary": "Turmas de uma UC",
        "description": "Dada o id de uma ocorrencia",
        "x-fern-sdk-group-name": "summaries",
        "x-fern-sdk-method-name": "getClasses",
        "parameters": [
          {
            "name": "pv_ocorrencia_id",
            "in": "query",
            "description": "O id da ocorrencia",
            "schema": {
              "type": "string",
              "default": "484400"
            }
          },
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "turmas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "turma_id": {
                            "type": "integer"
                          },
                          "tipo": {
                            "type": "string"
                          },
                          "sigla": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "turma_id",
                          "tipo",
                          "sigla"
                        ]
                      }
                    }
                  },
                  "required": [
                    "turmas"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.sum_aulas": {
      "get": {
        "operationId": "aulas-de-uma-turma",
        "summary": "Aulas de uma turma",
        "description": "Lista todas as aulas de uma turma com o id do respetivo sumário",
        "x-fern-sdk-group-name": "summaries",
        "x-fern-sdk-method-name": "getLessons",
        "parameters": [
          {
            "name": "pv_ocorrencia_id",
            "in": "query",
            "description": "Ocorrencia da UC",
            "schema": {
              "type": "string",
              "default": "484400"
            }
          },
          {
            "name": "pv_turma_id",
            "in": "query",
            "description": "O id da turma",
            "schema": {
              "type": "string",
              "default": "824506"
            }
          },
          {
            "name": "pv_tipo_aula",
            "in": "query",
            "description": "Tipo de aula",
            "schema": {
              "type": "string",
              "default": "TP"
            }
          },
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "n_aula": {
                        "type": "integer"
                      },
                      "cod_sumario": {
                        "type": "integer"
                      },
                      "data_prevista": {
                        "type": "string"
                      },
                      "data_efectiva": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "n_aula",
                      "cod_sumario",
                      "data_prevista",
                      "data_efectiva"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{faculty}/{language}/mob_ucurr_geral.sumario": {
      "get": {
        "operationId": "sumário-de-uma-aula",
        "summary": "Sumário de uma Aula",
        "description": "Vai buscar o sumário de uma aula em específico",
        "x-fern-sdk-group-name": "summaries",
        "x-fern-sdk-method-name": "getSummary",
        "parameters": [
          {
            "name": "pv_sumario_id",
            "in": "query",
            "description": "O id de um sumário",
            "schema": {
              "type": "string",
              "default": "2146359"
            }
          },
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "n_aula": {
                      "type": "integer"
                    },
                    "cod_sumario": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "data_prevista": {
                      "type": "string"
                    },
                    "data_efectiva": {
                      "type": "string"
                    },
                    "obs": {
                      "type": "string"
                    },
                    "sumario": {
                      "type": "string"
                    },
                    "doc_codigo": {
                      "type": "string"
                    },
                    "n_alunos": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "n_aula",
                    "cod_sumario",
                    "data_prevista",
                    "data_efectiva",
                    "obs",
                    "sumario",
                    "doc_codigo",
                    "n_alunos"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{faculty}/{language}/instalacs_geral.ocupacao_parques": {
      "get": {
        "operationId": "ocupação-de-parques-de-estacionamento",
        "summary": "Ocupação de Parques de Estacionamento",
        "x-fern-sdk-group-name": "parking",
        "x-fern-sdk-method-name": "getOccupancy",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "feup"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "pt"
            },
            "required": true
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK. JSON, despite being served as `text/html`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itdc": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "versao": {
                            "type": "string"
                          },
                          "dataresposta": {
                            "type": "string"
                          },
                          "codigoresposta": {
                            "type": "string"
                          },
                          "statementsql": {
                            "type": "string"
                          },
                          "linhas": {
                            "type": "string"
                          },
                          "erro": {
                            "type": "string"
                          },
                          "resposta": {
                            "type": "object",
                            "properties": {
                              "p1lotacao": {
                                "type": "integer"
                              },
                              "p3lotacao": {
                                "type": "integer"
                              },
                              "p4lotacao": {
                                "type": "integer"
                              },
                              "data": {
                                "type": "string"
                              },
                              "P1in": {
                                "type": "integer"
                              },
                              "P1out": {
                                "type": "integer"
                              },
                              "P3in": {
                                "type": "integer"
                              },
                              "P3out": {
                                "type": "integer"
                              },
                              "P4in": {
                                "type": "integer"
                              },
                              "P4out": {
                                "type": "integer"
                              },
                              "p1ocupados": {
                                "type": "integer"
                              },
                              "p3ocupados": {
                                "type": "integer"
                              },
                              "p4ocupados": {
                                "type": "integer"
                              },
                              "p1livres": {
                                "type": "integer"
                              },
                              "p3livres": {
                                "type": "integer"
                              },
                              "p4livres": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "p1lotacao",
                              "p3lotacao",
                              "p4lotacao",
                              "data",
                              "P1in",
                              "P1out",
                              "P3in",
                              "P3out",
                              "P4in",
                              "P4out",
                              "p1ocupados",
                              "p3ocupados",
                              "p4ocupados",
                              "p1livres",
                              "p3livres",
                              "p4livres"
                            ]
                          }
                        },
                        "required": [
                          "versao",
                          "dataresposta",
                          "codigoresposta",
                          "statementsql",
                          "linhas",
                          "erro",
                          "resposta"
                        ]
                      }
                    }
                  },
                  "required": [
                    "itdc"
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/calendarios-api/api/v1/events/{faculty}/student/{nmec}/": {
      "get": {
        "operationId": "horário-v2",
        "summary": "Horário v2",
        "description": "Novo módulo de horários do Sigarra\n\nThe trailing slash is required: without it SIGARRA redirects to `/calendarios/...`, which returns 404. The URL for a student is in the `data-evt-source-url` and `data-table-source-url` attributes of `hor_geral.estudantes_view`.",
        "x-fern-sdk-group-name": "calendar",
        "x-fern-sdk-method-name": "getStudentEvents",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "nmec",
            "in": "path",
            "required": true,
            "description": "Student number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year",
            "in": "query",
            "required": true,
            "description": "First year of the academic year, e.g. `2023` for 2023/2024.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pv_turma_ocorr",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "description": "Classes to include, as `{FACULTY}_{ocorr_id}_{turma_id}` (e.g. `FEUP_518805_213039`). At least one is required.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "period",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Teaching periods to include.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvents"
                }
              }
            }
          },
          "400": {
            "description": "Missing `academic_year` or `pv_turma_ocorr`."
          },
          "403": {
            "description": "No valid session. The body is empty."
          }
        },
        "deprecated": false
      }
    },
    "/calendarios-api/api/v1/caltable/{faculty}/student/{nmec}/": {
      "get": {
        "operationId": "caltable-student",
        "summary": "Horário v2 (tabela)",
        "description": "Horário de um estudante no novo módulo de horários do Sigarra, como uma tabela HTML.\n\nThe trailing slash is required: without it SIGARRA redirects to `/calendarios/...`, which returns 404. The URL for a student is in the `data-evt-source-url` and `data-table-source-url` attributes of `hor_geral.estudantes_view`.",
        "x-fern-sdk-group-name": "calendar",
        "x-fern-sdk-method-name": "getStudentTable",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "nmec",
            "in": "path",
            "required": true,
            "description": "Student number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year",
            "in": "query",
            "required": true,
            "description": "First year of the academic year, e.g. `2023` for 2023/2024.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pv_turma_ocorr",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "description": "Classes to include, as `{FACULTY}_{ocorr_id}_{turma_id}` (e.g. `FEUP_518805_213039`). At least one is required.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "period",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Teaching periods to include.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTML `<table>` fragment.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing `academic_year` or `pv_turma_ocorr`."
          },
          "403": {
            "description": "No valid session. The body is empty."
          }
        }
      }
    },
    "/calendarios-api/api/v1/events/{faculty}/uc/{ocorr_id}/": {
      "get": {
        "operationId": "calendar-events-uc",
        "summary": "Horário v2 de uma unidade curricular",
        "description": "The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "calendar",
        "x-fern-sdk-method-name": "getCourseUnitEvents",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "ocorr_id",
            "in": "path",
            "required": true,
            "description": "Course unit occurrence ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year",
            "in": "query",
            "required": true,
            "description": "First year of the academic year, e.g. `2023` for 2023/2024.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "description": "Teaching periods to include. `uni` sends 1–8.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvents"
                }
              }
            }
          },
          "400": {
            "description": "Missing `academic_year` or `period`."
          },
          "403": {
            "description": "No valid session. The body is empty."
          }
        }
      }
    },
    "/calendarios-api/api/v1/caltable/{faculty}/uc/{ocorr_id}/": {
      "get": {
        "operationId": "calendar-caltable-uc",
        "summary": "Horário v2 (tabela) de uma unidade curricular",
        "description": "The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "calendar",
        "x-fern-sdk-method-name": "getCourseUnitTable",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "ocorr_id",
            "in": "path",
            "required": true,
            "description": "Course unit occurrence ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year",
            "in": "query",
            "required": true,
            "description": "First year of the academic year, e.g. `2023` for 2023/2024.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "description": "Teaching periods to include. `uni` sends 1–8.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTML `<table>` fragment.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing `academic_year` or `period`."
          },
          "403": {
            "description": "No valid session. The body is empty."
          }
        }
      }
    },
    "/calendarios-api/api/v1/events/{faculty}/doc/{doc_codigo}/": {
      "get": {
        "operationId": "calendar-events-doc",
        "summary": "Horário v2 de um docente",
        "description": "The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "calendar",
        "x-fern-sdk-method-name": "getProfessorEvents",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "doc_codigo",
            "in": "path",
            "required": true,
            "description": "Professor code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year",
            "in": "query",
            "required": true,
            "description": "First year of the academic year, e.g. `2023` for 2023/2024.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "description": "Teaching periods to include. `uni` sends 1–8.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvents"
                }
              }
            }
          },
          "400": {
            "description": "Missing `academic_year` or `period`."
          },
          "403": {
            "description": "No valid session. The body is empty."
          }
        }
      }
    },
    "/calendarios-api/api/v1/caltable/{faculty}/doc/{doc_codigo}/": {
      "get": {
        "operationId": "calendar-caltable-doc",
        "summary": "Horário v2 (tabela) de um docente",
        "description": "The trailing slash is required. The URL is in the `data-evt-source-url` / `data-table-source-url` attributes of the corresponding `hor_geral.*_view` page.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "calendar",
        "x-fern-sdk-method-name": "getProfessorTable",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "doc_codigo",
            "in": "path",
            "required": true,
            "description": "Professor code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "academic_year",
            "in": "query",
            "required": true,
            "description": "First year of the academic year, e.g. `2023` for 2023/2024.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "description": "Teaching periods to include. `uni` sends 1–8.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTML `<table>` fragment.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing `academic_year` or `period`."
          },
          "403": {
            "description": "No valid session. The body is empty."
          }
        }
      }
    },
    "/{faculty}/{language}/mob_val_geral.autentica": {
      "post": {
        "operationId": "mob-val-geral-autentica",
        "summary": "Login (credentials, JSON)",
        "description": "Authenticates with a username and password and answers with JSON; on success, sets the session cookies.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "auth",
        "x-fern-sdk-method-name": "login",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "pt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pv_login": {
                    "type": "string",
                    "description": "Username, e.g. `up202008169`."
                  },
                  "pv_password": {
                    "type": "string",
                    "format": "password"
                  }
                },
                "required": [
                  "pv_login",
                  "pv_password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated.",
            "headers": {
              "Set-Cookie": {
                "description": "On success, `SI_SESSION` (`HttpOnly`) and `SI_SECURITY` (`Secure; HttpOnly`), without an expiry date.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResult"
                }
              }
            }
          },
          "403": {
            "description": "Wrong username or password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "operationId": "mob-val-geral-autentica-get",
        "summary": "Login (credentials, JSON, query string)",
        "description": "Same as `POST`, with the credentials in the query string. Prefer `POST`: URLs (and so the password) tend to end up in logs.\n\nUsed by [uporto-schedule-scrapper](https://github.com/NIAEFEUP/uporto-schedule-scrapper).",
        "x-fern-sdk-group-name": "auth",
        "x-fern-sdk-method-name": "loginWithQuery",
        "security": [],
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "pt"
            }
          },
          {
            "name": "pv_login",
            "in": "query",
            "required": true,
            "description": "Username, e.g. `up202008169`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pv_password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated.",
            "headers": {
              "Set-Cookie": {
                "description": "On success, `SI_SESSION` (`HttpOnly`) and `SI_SECURITY` (`Secure; HttpOnly`), without an expiry date.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResult"
                }
              }
            }
          },
          "403": {
            "description": "Wrong username or password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{faculty}/{language}/vld_validacao.validacao": {
      "post": {
        "operationId": "vld-validacao-validacao",
        "summary": "Login (credentials)",
        "description": "Authenticates with a username and password; this is the website's login form (served by `vld_validacao.login`). Works on any faculty path, including `up`.\n\nOn success, sets `SI_SESSION` and `SI_SECURITY` (no expiry date; the session lasts about 2 hours) and redirects with a `<meta http-equiv=\"refresh\">` to `p_address` (`web_page.Inicial` by default). On failure, the reason is in `p.aviso-invalidado` (e.g. \"O conjunto utilizador/senha não é válido.\", \"A sua conta encontra-se bloqueada.\", or an expired password). If the request already carries a valid session, the page is titled \"Problema encontrado\", `p.erro-nota` says \"Já se encontra autenticado com o utilizador <name>.\", and no new session is created.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni) and TTS.",
        "x-fern-sdk-group-name": "auth",
        "x-fern-sdk-method-name": "loginPage",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "pt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "p_user": {
                    "type": "string",
                    "description": "Username, with or without the `up` prefix (e.g. `up202008169` or `202008169`)."
                  },
                  "p_pass": {
                    "type": "string",
                    "format": "password"
                  },
                  "p_address": {
                    "type": "string",
                    "description": "Page to redirect to after logging in. Defaults to `web_page.Inicial`."
                  },
                  "p_app": {
                    "type": "string"
                  },
                  "p_amo": {
                    "type": "string"
                  }
                },
                "required": [
                  "p_user",
                  "p_pass"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTML page. See the description for how to tell success from failure.",
            "headers": {
              "Set-Cookie": {
                "description": "On success, `SI_SESSION` (`HttpOnly`) and `SI_SECURITY` (`Secure; HttpOnly`), without an expiry date.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{faculty}/{language}/vld_validacao.sair": {
      "get": {
        "operationId": "vld-validacao-sair",
        "summary": "Logout",
        "description": "Ends the session: its cookies stop working. Then redirects to `web_page.Inicial` with a `<meta http-equiv=\"refresh\">`. Answers the same without a session.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "auth",
        "x-fern-sdk-method-name": "logout",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "pt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page that redirects to the home page.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "siSession": [],
            "siSecurity": []
          }
        ]
      }
    },
    "/auth/oidc/token": {
      "get": {
        "operationId": "auth-oidc-token",
        "summary": "Login (OpenID Connect)",
        "description": "Exchanges a token from the U.Porto identity provider (`https://open-id.up.pt/realms/sigarra`) for SIGARRA session cookies. Both access tokens and ID tokens are accepted. The session is bound to the IP address that makes this call, so call it from wherever the session will be used (e.g. a backend, not the browser that obtained the token). Each call creates a new session that lasts 2 hours (`exp` is 7200 s after the request), regardless of the token's own lifetime. [uni](https://github.com/NIAEFEUP/uni)'s tokens have the audience `it-sigarra-oidc-bridge`, likely the name of this service.\n\nAnswers `401` without a token and `403` with an invalid one. Only `GET` is allowed (`405` otherwise).\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "auth",
        "x-fern-sdk-method-name": "oidcToken",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Authenticated.",
            "headers": {
              "Set-Cookie": {
                "description": "`SI_SESSION` and `SI_SECURITY`, with `Domain=sigarra.up.pt` and an `Expires` matching `exp`.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "exp",
                    "result"
                  ],
                  "properties": {
                    "exp": {
                      "type": "integer",
                      "description": "When the session cookies expire, as a Unix timestamp: 2 hours after the request."
                    },
                    "result": {
                      "type": "string",
                      "description": "`OK` on success."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing token."
          },
          "403": {
            "description": "No valid session.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "uportoOidc": []
          }
        ]
      }
    },
    "/{faculty}/{language}/web_page.inicial": {
      "get": {
        "operationId": "web-page-inicial",
        "summary": "Página inicial",
        "description": "Home page. When authenticated, `.autenticado .fotografia img` links to `fotografias_service.foto?pct_cod=<username>`, which `uni` uses to find the username.\n\nUsed by [uni](https://github.com/NIAEFEUP/uni).",
        "x-fern-sdk-group-name": "home",
        "x-fern-sdk-method-name": "getHomePage",
        "parameters": [
          {
            "name": "faculty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "feup"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "pt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "siSession": [],
            "siSecurity": []
          }
        ]
      }
    },
    "/{faculty}/{language}/vld_entidades_geral.entidade_pagina": {
      "get": {
[...]
