@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif !important;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
