@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif !important;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #fdfdfd;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
